
.h1 {
    margin-bottom: 1em;
}

.servicebox>.title-area {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.servicebox h5 {
    color: #888888;
}

.servicebox>.service-calls {
    display: none;
}

.sizer {
    font-size: 1em;
    border-radius: 99px;
    margin-right: 1em;
}

.namer {
    font-size: 1em;
    font-weight: bolder;
    color: #6f6f6f
}

.row {
    margin-left: 1em;
    margin-right: 1em;
}

.navbar {
    border-radius: 0px;
}

.navbar-blue {
    background-color: #337ab7;
    color: white;
}

.navbar-blue .navbar-brand {
    color: white;
}