
@(data: Map[String, List[ServiceCall]])

@layout() {

    <!-- main page content -->

    <h2>Service Calls</h2>

    @for((service, records) <- data) {

        <div class="servicebox" data-service="@service">

            <a href="/service/@service">
                <div class="title-area">
                    @if( records.nonEmpty ) {
                        <span class="label label-success sizer">@records.length</span>
                    } else {
                        <span class="label label-danger sizer">@records.length</span>
                    }

                    <span class="namer">@service</span>

                    <hr/>
                </div>
            </a>

        </div>

    }

}