
@(serviceName: String, calls: Seq[ServiceCall], dateFormatter: Long=>String )

@layout() {

    <h2>Service Calls for <span class="green-text">@serviceName</span></h2>

    <div class="service-calls">

        <hr/>

        @if(calls.nonEmpty) {
            @for(serviceCall <- calls) {


                <h5>@{
                    dateFormatter(serviceCall.createdAt)
                }</h5>
                <div class="well">@serviceCall.data</div>

            }
        } else {
            <h5>No calls have been made to this service</h5>
        }

    </div>

}


